.header {
    height: 80px;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #171e52;
}
.header__left img {
    height: 50px;
}
.header__logo-desktop {
    display: none;
}

.dropdown {
    position: relative;
    color: #fff;
    font-size: 15px;
}
.dropdown--base {
    z-index: 5;
    position: absolute;
    top: 42px;
    right: 4px;
}

.dropdown__icon-clock {
    display: block;
    width: 30px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dropdown__icon-clock:hover {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dropdown--item-style {
    color: #fff;
    padding: 10px 8px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 1px solid #050711;
    cursor: pointer;
}
.tz-select__dropdown {


}
.tz-select__default {
    /*position: relative;*/
    cursor: pointer;
    display: none;
    border: 1px solid #171e52;
    border-radius: 50px;
    padding: 8px 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 1px solid #050711;

}
.tz-select__default:after {
    position: absolute;
    right: 7px;
    transform: rotate(-90deg);
    top: 13px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 4px 0;
    border-color: transparent #fff transparent transparent;

}

.dropdown--item-style:hover  {
    background: #1a1d29;
    opacity: 1;
    transition: all 0.5s ease;
}
.tz-close {
    display: none;
    z-index: -2;
}

.grey-effect {
    opacity: 0.5;
}
/* auth*/
.header__auth {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.header__auth-controls {

    display: none;
    align-items: center;
}
.header__user-image-wrapper {
    opacity: 0.5;
    cursor: pointer;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.header__user-image-wrapper:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
}
.header__auth a {
    color: #808185;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.header__auth .slash {
    color: #808185;
    margin: 0 5px;
}
.header__auth a:hover {
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* intl*/
.intl__default {
    cursor: pointer;
}
.intl__item {
    display: flex;
    align-items: center;
}
.intl__item span {
    margin-left: 10px;
    display: block;
}
.header__intl {
    margin-left: 15px;
}
/* main*/
.wrapper {
    /*height: ;*/
}
.info {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.info__logo {
    display: none;
    width: 200px;
    margin-right: 40px;
}
.info__logo img {
    width: 100%;
}
.info__partners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 240px;
}
.partners__link {
    width: 130px;
    /*flex-basis: 45%;*/
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
.partners__link img {
    width: 100px;
    margin: 0 auto;
}
.slider {
    height: 500px;
}

/* legal*/
.legal {
    padding: 30px 20px 100px 20px;
}
.legal__navigate {
    font-size: 15px;
}
.legal__navigate li a:hover {
    color: #fff;
}
.legal__navigate a, .legal p, .legal__header {
    color: #adadad;
}
.legal__header {
    font-size: 2.5rem;
    margin-bottom: 1.2rem;

}

.legal__text p {

    font-size: 16px;
    margin-bottom: 1rem;
}
/* footer*/
.footer {

    border-top: 1px solid #dee2e6;

    padding: 1rem;
    height: 60px;
}
/* reuseble*/

.overlay {
    position: absolute;
    display: none;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}
.overlay.open {
    display: block;
}
.flex-v-centered {
    display: flex;
    align-items: center;
}

.m-color {
    background: #060a13;
}
.icon--size {
    width: 43px;
}
/*.text-color {*/
/*    color: #808185;*/
/*}*/

@media only screen and (min-width: 842px) {
    .header__logo-desktop {
        display: block;
    }
    .header__logo-mobile {
        display: none;
    }

    .dropdown {
        font-size: 16px;
    }


}

@media only screen and (min-width: 992px) {



}
@media only screen and (min-width: 768px) {

    .info__logo {
        display: block;
    }


}
@media only screen and (min-width: 600px) {
    .header__auth-controls {
        display: flex;
    }
    .header__user-image-wrapper {
        margin-right: 10px;
    }
    .tz-select__default {
        display: block;
    }
    .dropdown__icon-clock {
        display: none;
    }
    .info__partners {
        justify-content: space-between;
        width: 100%;
        max-width: 700px;
    }

    .partners__link {
        margin-bottom: 0;
    }
    .partners__link img {
        width: 100%;
    }
    .legal {
        display: flex;
    }
    .legal__navigate {
        min-width: 250px;
        font-size: 22px;
    }
    .legal__navigate li {
        margin-bottom: 15px;
    }
}
